* {
    box-sizing: border-box;
    Font-family: 'Roboto', sans-serif;
}

.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    display: block;
    background-color: rgba(1, 9, 20, 0.9);
    position: relative;
    justify-content: center;
    align-items: center;
    height: 90vh;
    border: 1px solid #fff, .5;
    width: 90vw auto;
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    margin: 60px 20vw;

}

label {
    display: block;
    justify-content: left;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
}


h1 {
    display: block;
    position: relative;
    top: 10%;
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin: 15px auto;
    padding: 20px;
}

p {
    text-align: center;
    position: relative;
    top: 18%;
    display: block;
    font-size: 20px;
    color: #fff;
    margin: 15px auto;


}

.moneySymbols {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    position: relative;
    max-width: 350px;
    align-items: center;
    margin: 15px auto;
    top: 2%;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(4, 175, 70, 0.3);
    margin-top: 20px;
    margin: 20px 20%;
    max-width: auto;
    border: 1px solid #04c03d;
    box-shadow: 0 0 25px rgba(4, 206, 82, 0.3);
    border-radius: 35px;
}

#moedaOrigem,
#moedaDestino,
#valor {
    width: 327px;
    height: 50px;
    margin: 10px;
    border-radius: 9px;
    border: 1px solid rgba(4, 206, 82, 0.5);
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
}

#botao-converter {
    width: 200px;
    height: 40px;
    margin: 10px;
    border-radius: 25px;
    font-size: 16px;
    border: 1px solid rgba(4, 206, 82, 0.5);
    padding: 5px;
    background-color: rgba(4, 175, 70, 0.3);
    color: #fff;
    cursor: pointer;
    background: linear-gradient(182deg, #0dd273, #013f32);
    background-size: 150% 100%;
    background-position: right;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-position 0.6s ease, transform 0.6s ease;
}

#botao-converter::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 25px;
    background: linear-gradient(90deg, #0a9111a8, #09d3b8);
    opacity: 0;
    transition: opacity 1.6s ease;
    z-index: -1;
}

#botao-converter:hover::before {
    opacity: 1;
}

#botao-converter:hover {
    transform: scale(1.1);
    color: #013f32;
    font-weight: 600;
    transition: color 1.8s ease, transform 1.8s ease;
}

.botao-converter:active {
    transform: scale(1.5);
    transition: transform 0.2s ease;
    background: linear-gradient(182deg, #e3ede8, #013f32);
}

.resultado {
    display: flex;
    flex-direction: column;
    background-color: rgba(4, 175, 70, 0.3);
    align-items: center;
    margin-top: 20px;
    margin: 20px 20%;
    height: auto;
    max-width: auto;
    border: 1px solid rgba(4, 206, 82, 0.5);
    border-radius: 35px;
    box-shadow: 0 0 25px rgba(4, 206, 82, 0.3);
    margin-bottom: 10vh;
}

.moeda-a-converter {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(230, 230, 230, 0.18);
    border-radius: 30px;
    margin-top: 15px;
}

.arrow.png {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    align-items: center;
    justify-content: center;
}

.moeda-convertida {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    gap: 10px;
    border: 1px solid rgba(230, 230, 230, 0.18);
    border-radius: 30px;
}

.nomeMoedaOrigem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-weight: 500;
}

.ValorMoedaOrigem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-weight: 500;
}

.NomeMoedaConvertida {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-weight: 500;

}

.ValorMoedaConvertida {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-weight: 500;
}